<div class="row">
  <div class="col-12">
      <div class="row background-white">
          <div class="col-1">
              <img class="img-cons" src="../../../assets/img/storm.png">
          </div>
          <div class="col-5 mT-10">
              <h2 class="cons-h">STORM MIX</h2>
              <h4 class="cons-h4">Wind/Wasser/Solar </h4>
          </div>
          <div class="col-6 text-right">
              <button type="button" class="btn btn-end-contract btn-energy"
                      data-toggle="modal" data-target="#sell-energy">Add
                  Energy
              </button>
          </div>

          <div class="col-12 mT-50">
              <div class="row mT-10 nine-cols">
                  <div class="col text-center border-charts">
                      <div class="c100 p65 blue">
                          <span>65%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/wind.png">
                          <p class="wind-text m-b-10-negv">Wind</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p45 blue">
                          <span>45%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/solar.png">
                          <p class="wind-text m-b-10-negv">Solar</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p35 blue">
                          <span>35%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/nuclear.png">
                          <p class="wind-text m-b-10-negv">Nuclear</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p25 blue">
                          <span>25%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/wasser.png">
                          <p class="wind-text m-b-10-negv">Wasser</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p75 blue">
                          <span>75%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/geopower.png">
                          <p class="wind-text m-b-10-negv">Geopower</p>
                          <p class="wind-text">10 KWH</p>
                      </div>
                  </div>


              </div>
              <div class="row mT-20 nine-cols">
                  <div class="col text-center border-charts">
                      <div class="c100 p85 blue">
                          <span>85%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/diesal.png">
                          <p class="wind-text m-b-10-negv">Diesel</p>
                          <p class="wind-text">10 KWH</p>
                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p95 blue">
                          <span>95%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/bio.png">
                          <p class="wind-text m-b-10-negv">Bio</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p5 blue">
                          <span>5%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/coal.png">
                          <p class="wind-text m-b-10-negv">Coal</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col text-center border-charts">
                      <div class="c100 p15 blue">
                          <span>15%</span>
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                      <div>
                          <img class="img-chart" src="../../../assets/img/gas.png">
                          <p class="wind-text m-b-10-negv">Gas</p>
                          <p class="wind-text">10 KWH</p>

                      </div>
                  </div>

                  <div class="col">
                  </div>
              </div>
          </div>


      </div>
  </div>
</div>