<div class="row">
  <div class="col-12">
      <div class="row background-white">
          <div class="col-1">
              <img class="img-cons" src="../../../assets/img/power-storage.png">
          </div>
          <div class="col-11">
              <h2 class="cons-h">Power Storage</h2>
              <h4 class="cons-h4">Haus/Auto<span class="span-h4"> </span></h4>
              <p class="cons-p">Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled it to
                  make a type specimen book. It has survived not only five
                  centuries.</p>
          </div>

          <div class="col-12 mT-50">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                          <th scope="col">User</th>
                          <th scope="col">Units</th>
                          <th scope="col">Price</th>
                          <th scope="col">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>

                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>
                              <button type="button"
                                      class="btn btn-danger btn-end-contract"
                                      data-toggle="modal"
                                      data-target="#modalpower">End Contract
                              </button>
                          </td>
                      </tr>
                      <tr>

                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>
                              <button type="button"
                                      class="btn btn-danger btn-end-contract"
                                      data-toggle="modal"
                                      data-target="#modalpower">End Contract
                              </button>
                          </td>
                      </tr>
                      <tr>

                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>
                              <button type="button"
                                      class="btn btn-danger btn-end-contract"
                                      data-toggle="modal"
                                      data-target="#modalpower">End Contract</button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>